.App {
  font-family: 'Patrick Hand', cursive;
  height: 90vh;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 1.3vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.3vmin);
  color: white;
}

.temp {
  display: flex;
  margin: 3px 10px;
}

.temp p {
  margin: 3px;
}

form {
  display: inline-block;
  justify-content: left;
  padding-top: 5%;
  padding-left: 5%;
}
.greeting {
  padding-top: 1%;
  padding-left: 3%;
}

.current-conditions {
  text-align: center;
  max-width: 20%;
  border-radius: 15px;
}